.sitevisit-table.table-row,
.sitevisit-table.table-head {
  display: grid;
  grid-template-columns: 120px 1fr 120px 0.7fr 1fr 100px 100px 60px;
}

.site-visit-approval {
  border: none !important;
  cursor: pointer;
  padding: 5px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: .5rem;
}

