.profile-grid {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.profile-card{
  width: 100%;
    margin-bottom: 1rem;
}

.profile-top{
    text-align: center;
}
.profile-top h3{
    margin: 0;
}
.profile-top p{
    font-size: 12px;
    margin-top: 5px;
    color: #9f9f9f;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 2.3rem;
  margin-bottom: 10px;
}

.profile-sidebar {
  width: 30%;
}

.profile-main {
  width: 70%;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile-nav {
    margin-top: 1rem;
}
.profile-nav span{
    cursor: pointer;
}

.report-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.report-box {
  background: #f9fafb;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.agent-overview {
  margin-top: 20px;
}

.referral-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.agent-mini-stats h4{
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 5px;
  margin-bottom: 0;
}