.status.pending {
  background: #fef9c3;
  color: #854d0e;
}
.status.failed {
  background: #fee2e2;
  color: #b91c1c;
}

.management-table.table-head, .management-table.table-row {
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 60px;
}

.management-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.filter-grid{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;  
  margin-bottom: 1rem;
}

input, select{
  width: 100%;
  padding: 2px;
  margin: 0;
  border-radius: 1.75rem;
  border: 1px solid #bcbcbc2e;
  background-color: transparent;
  border: none;
  color: #9f9f9f;
}

input:active, input:focus, select:active, select:focus{
  border: none;
  outline: none;
}